<app-topbar class="topbar" [fullnav]="false" ></app-topbar>

<div style="flex-direction: column;">
    
    <div>
        <div  style="display: flex; flex-direction: column; width: 100vw; height: 100%; ">
        <div style="margin-top: 5%; margin-left: 20%; margin-right: 20%;">
            <h3 >Imprint</h3>
        <div style="margin-top: 2%;">
            <h4>Project Information</h4>
            <p style="color:var(--logo-blue); font-size: 18px;"><strong>Sublation</strong></p>
        </div>
        
        <div style="margin-top: 2%;">
            <h4>Project Type</h4>
            <p>University Group Project (Planspiel) </p>
        </div>
        

        <!-- <p>[Your Street Address]</p>
        <p>[Your City, ZIP Code]</p>
        <p>[Your Country]</p> -->
        <div style="margin-top: 2%;">
            <h4>Group Members</h4>
            <ul class="list-group" style="margin-top: 2%;">
                <li class="list-group-item">
                    <div style="flex-direction: column;">
                        <h6 class="mb-1"> Elmira Hashemi Pour </h6>
                        <pre></pre>
                        <p>Email: elmira.hashemipour&#64;gmail.com</p>
                        <p>Student ID: 564762</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div style="flex-direction: column;">
                        <h6 class="mb-1"> Khairul Islam </h6>
                        <pre></pre>
                        <p>Email: whoiskhairul&#64;email.com</p>
                        <p>Student ID: 729437</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div style="flex-direction: column;">
                        <h6 class="mb-1"> Kaniz Fatema Fomy </h6>
                        <pre></pre>
                        <p>Email: fomykf&#64;gmail.com</p>
                        <p>Student ID: 678481</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div style="flex-direction: column;">
                        <h6 class="mb-1"> Sajidur Rahman </h6>
                        <pre></pre>
                        <p>Email: sajidur.swe&#64;gmail.com</p>
                        <p>Student ID: 801489</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div style="flex-direction: column;">
                        <h6 class="mb-1"> Syed Intiser Ahsan </h6>
                        <pre></pre>
                        <p>Email: ahsanintiser&#64;gmail.com</p>
                        <p>Student ID: 700230</p>
                    </div>
                </li>
            </ul>
        </div>
        
        <div style="margin-top: 2%;">
            <h4>University</h4>
            <p>Technische Universität Chemnitz </p>
        </div>

        <div style="margin-top: 2%;">
            <h4>Department</h4>
            <p>Faculty of Computer Science </p>
        </div>
        <div style="margin-top: 2%;">
            <h4>Course</h4>
            <p>Planspiel Web Engineering </p>
        </div>

        <div style="margin-top: 2%;">
            <h4>Project Duration</h4>
            <p>October 2024 - March 2025 </p>
        </div>

        <div style="margin-top: 2%;">
            <h4>Contact</h4>
            <p>Str. der Nationen 62, 09111 Chemnitz </p>
        </div>
        
        <div style="margin-top: 2%;">
            <h4>Legal Notice</h4>
            <p>This "Sublation" project is conducted as part of academic coursework at Technische Universität Chemnitz. The content and ideas presented in this project are the intellectual property of the group members listed above and are intended for educational purposes only. While we have made every effort to ensure the accuracy of the information presented, we do not accept liability for any errors or omissions. The information provided is not intended to be used as professional advice, and any reliance on it is at your own risk. This project may contain links to external websites; we are not responsible for the content of these external sites. </p>
        </div>
    
        <div style="margin-top: 2%; margin-bottom: 20%;">
            <h4>Disclaimer</h4>
            <p>This project is for academic purposes only. In case of any suggestions, advice, or complaints, please feel free to contact us at: ahsanintiser&#64;gmail.com </p>
        </div>
        
        </div>
        
        </div>
    </div>

</div>
