@import '../../../styles.scss';

.members{
    height: 100vh; 
    background-color: var(--secondary-bg); 
    
  }


.span-class{
    padding-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.text{
  text-align: left;
}

.details{
   width: 100%;
}