<div class="about" style="flex-direction: column;">
    <div class="span-class">
        <h2 style="color: var(--text-color);">
            About Sublation
        </h2>
      </div>
      <div class="text-class" style="width: 100%; text-align: center; align-items: center; align-content: center;">
        <div style="width: 67%; position: relative; margin: auto;">
            <div style="margin-left: 20%; margin-right: 20%; margin-top: 2%;">
                <p>
                    <span class="big">We</span> are a technology company dedicated to delivering innovative and reliable solutions that empower individuals and businesses. Our mission is to blend precise research, advanced AI, and a user-centered design approach to create smart, secure, and user-friendly products and services. With a team of passionate and skilled professionals, we strive to advance and shape the future of technology. Our vision is to be the leading provider of AI-driven solutions that meet the evolving needs of our users, providing them with seamless and secure experiences.
                </p>
            </div>
            <div style="margin-left: 20%; margin-right: 20%; margin-top: 2%;">
                <p >
                    <span class="big">Our mission</span> is to deliver reliable, smart, and secure products and services to our customers by blending precise research, advanced AI, and a user-centered design approach. With the assistance of  our  innovative and dedicated team, we strive to advance and shape solutions that meet the evolving needs of our users
                </p>
            </div>
            <div style="margin-left: 20%; margin-right: 20%; margin-top: 2%;">
                <p >
                    <span class="big">Sublation</span> has a vision to become the leading provider of innovative, AI-driven solutions that empower individuals and businesses with smart, secure, and user-centered experiences.
                </p>
            </div>
        </div>
        
        
      </div>
</div>


