@import '../../../styles.scss';

.landing{
  width: 100%;
  height: fit-content; 
  background-color: var(--bg-color); 
  text-align: center;
}

.span-class{
    top: 40%;
    position: relative;
    vertical-align: middle;
}