@import '../../../styles.scss';
.members{
    width: 100%;
    height: 100vh; 
    background-color: palevioletred; 
    text-align: center;
  }


  .span-class{
    top: 40%;
    position: relative;
    vertical-align: middle;
}